@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ====================== CSS VARIABLES ====================== */
:root {
    /* ====================== WEBPAGE VARIABLES ====================== */
    --heading-font: font-family: 'Poppins', sans-serif;
    --body-font: 'avenir_next_lt_proregular';
    --heading-font-colour: #FFFFFF;
    --body-font-colour: #FFFFFF;

    --h1-font-size: 4.00rem;
    --h2-font-size: 3.50rem;
    --h3-font-size: 2.60rem;
    --h4-font-size: 2.25rem;

    --largescreens-font-size: 1.40rem;
    --desktops-font-size: 1.25rem;
    --laptop-font-size: 1.20rem;
    --tablets-font-size: 1.15rem;
    --mobile-font-size: 1.10rem;

    --font-medium: 500;
    --font-semi-bold: 650;
    --font-header-bold: 800;

    --largescreens-screen-size: 2560px;
    --desktops-screen-size: 1440px;
    --laptop-screen-size: 1024px;
    --tablets-screen-size: 768px;
    --mobile-screen-size: 480px;

    /* ====================== TYPOGRAPHY ====================== */
    /* ================ Avenir Next ================ */
    --avenir-next-lt-probold: 'avenir_next_lt_probold';
    --avenir-next-lt-proBdCn: 'avenir_next_lt_proBdCn';
    --avenir-next-lt-prodemi: 'avenir_next_lt_prodemi';
    --avenir-next-lt-prodemiCn: 'avenir_next_lt_prodemiCn';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proitalic';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proregular';

    /* ====================== COLOURS ====================== */
    --special-orange-dark: #e68d19;
    --special-orange-strong: #FF9E1B;
    --special-orange-light: #FBB03C;

    --special-black: #101820;
    --special-grey-strong: #3d3d3d;
    --special-grey-light: #dfdfdf;
    --special-grey-medium: #777777;
    --special-white: #FFFFFF;
}

/* ====================== WEBPAGE ====================== */
body {

    font-family: var(--body-font);
    list-style: none;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-header-bold);
}

h2 {
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
}

h3 {
    font-family: var(--heading-font);
    font-size: var(--h3-font-size);
}

h4 {
    font-family: var(--heading-font);
    font-size: var(--h4-font-size);
}

/* ====================== NEW NAVIGATION BAR ====================== */

ul {
    list-style-type: none;
    padding: 0;
}

.navbar-header {
    background-size: cover;
}

.nav-container,
.container-inner {
    margin: 0 auto;
    width: 100%;
}

.nav-container {
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-inner {
    max-width: 1000px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    z-index: 9;
    transition: 0.7s;
    color: var(--special-black);
}

.brand {
    font-size: 1.6em;
}

.navbar_logo{
    height: 70px;
    width: relative;
}

#navbar .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#navbar .nav-container ul {
    width: 100%;
    margin: 0 1em;
}

#navbar .nav-container ul:nth-child(2) {
    text-align: right;
}

#navbar .nav-container ul li {
    display: inline-block;
    margin: 0 0.7em;
}

#navbar a {
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    color: var(--special-black);
}

#navbar a:hover {
    color: var(--special-orange-strong);
}

.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

#navbar .fa-bars {
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}

#navbar .fa-bars:hover {
    color: var(--special-orange-strong);
}

.menu {
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.7s cubic-bezier(.74, -0.03, .83, .67);
    overflow-y: hidden;
}

.user {
    margin-right: 50px;
}

.logo {
    width: 3em;
}

.menu ul,
.menu form {
    margin: 1em auto;
}

.menu li {
    margin: 1em 0;
}

.menu>div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu>div::-webkit-scrollbar {
    display: none;
}

.menu .social-media {
    margin: 2em 0;
}

.social-media li {
    display: inline-block;
    margin: 0 0.5em;
}

.menu-open {
    height: 100vh;
    opacity: 1;
}

.navbar-active {
    background: var(--special-white);
    color: aqua;
    padding: 1em;
}

/* ====================== PAGE: HOME ====================== */

/* ================ Welcome ================ */
.home_welcome {
    margin-top: 200px;
    background-color: #FFFFFF;
    padding-bottom: 1rem;
    width: 100%;
}

.home_image_grid_poster {
    position: relative;
    text-align: center;
    width: 75%;
    margin: 0 auto 1rem auto;
}

.home_image_postercontainer {
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.home_image_postercontainer img {
    display: block;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.home_image_postercontainer:hover img {
    transform: translateY(-1rem);
}

.home_image_postertext {
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 25%;
}

.home_image_postertext h1 {
    margin-bottom: 1.25rem;
    font-size: calc(var(--h1-font-size) - 1.5rem);
}

.home_image_postertext .text {
    margin-bottom: 2.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.1rem);
}

.home_image_postertext .alttext {
    margin-bottom: 2.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.1rem);
    display: none;
}

.home_image_postertext a {
    border-radius: 20px;
    color: var(--special-orange-strong);
    background-color: #FFFFFF;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.home_image_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 75%;
    margin: 1.5rem auto 0 auto;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.img-wrapper>img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.img-wrapper>.content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.triple-introduction-boxes{
    grid-template-rows: 1fr 1fr;
}

.content.fade {
    color: white;
    font-size: 22px;
}

.img-wrapper>img {
    transition: 200ms ease-in-out;
    border-radius: 10px;
}

.img-wrapper>.content {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover>img.zoom {
    transform: scale(1.1);
}

.img-wrapper:hover>img.blur {
    filter: blur(5px);
}

.img-wrapper>.content.fade {
    opacity: 0;
}

.img-wrapper:hover>.content.fade {
    opacity: 1;
}


/* ================ Discover ================ */
.home_discover {
    background-color: #FFFFFF;
    padding: 2rem 0;
    width: 100%;
}

.home_discover_header {
    color: var(--special-orange-strong);
    text-align: center;
}

.home_discover_images {
    padding-top: 2rem;
    width: 75%;
    margin: 0 auto;
}

.home_discover_grid_hs {
    grid-area: hs;
}

.home_discover_grid_ff {
    grid-area: ff;
}

.home_discover_grid_gp {
    grid-area: gp;
}

.home_discover_grid_hs .hs_image {
    border-radius: 10px;
}

.home_discover_grid_hs .hs_image:hover {
    transform: scale(1.01);
    transition: 0.3s;
}

.home_discover_grid_ff .ff_image:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.home_discover_grid_ff .ff_image {
    border-radius: 10px;
}

.home_discover_grid_gp .gp_image:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.home_discover_grid_hs .hs_image:not(:hover) {
    transition: 0.3s;
}

.home_discover_grid_gp .gp_image {
    border-radius: 10px;
}

.home_discover_grid_ff .ff_image:not(:hover) {
    transition: 0.3s;
}

.home_discover_grid_gp .gp_image:not(:hover) {
    transition: 0.3s;
}

.swiper-body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet-active{
    background-color: var(--special-orange-strong);
}

/* ================ About Us ================ */
.home_aboutus {
    background-color: #FFFFFF;
    padding-bottom: 1rem;
}

.home_aboutus_header {
    color: var(--special-orange-strong);
    text-align: center;
    padding-top: 2.5rem;
}

.home_aboutus_grid_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 0 auto;
}

.home_aboutus_grid_column1 {
    padding: 1.5rem 1.5rem 0 3rem;
}

.home_aboutus_grid_column2 {
    padding-left: 1.5rem;
    padding-top: 3rem;
}

.home_aboutus_text {
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.home_aboutus_mobiletext {
    display: none;
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    margin: 0 0.5rem 1rem 0.5rem;
}

.home_altlogo {
    margin-top: -7.5rem;
    height: 100px;
    width: auto;
}

.home_aboutus_grid_mobile {
    display: none;
}

/* ====================== PAGE: ABOUT ====================== */
.about-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--special-white);
}

.about-section {
    background: url("assets/media/product-renders/TheHouseSpecials - TheClassic - FrontView.jpg") no-repeat left;
    width: 100%;
    background-size: 55%;
    background-color: var(--special-orange-strong);
    overflow: hidden;
    padding: 100px 0;
}

.about-inner-container {
    width: 55%;
    float: right;
    background-color: var(--special-white);
    padding: 150px;
}

.about-inner-container h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 900;
}

.about-text {
    font-size: 18px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.skills span:nth-child(1),
.skills span:nth-child(2),
.skills span:nth-child(3) {
    cursor: pointer;
}

.aboutus_links{
    font-size: 1.25rem;
    color: var(--special-orange-strong);
    text-decoration: none;
}

.aboutus_links:hover{
    color: var(--special-orange-light);
    transform: translateX(-0.5rem);
    transition: 0.3s;
}

.aboutus_links:not(:hover){
    transition: 0.3s;
}

.about-wrapper-body,
.about-wrapper-body-2,
.about-wrapper-body-3 {
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.about-wrapper-body-2 {
    display: none;
}

.about-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.about-text-box {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.about-text-box h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.about-text-box p {
    font-size: 16px;
}

.about-img, .about-img-jerel, .about-img-reginald {
    max-width: 520px;
    border: 3px solid var(--special-orange-strong);
    border-radius: 10px;
    margin-right: 15px;
}

.about-img-jerel{
    max-height: 450px;
    width: auto;
}

.about-img-reginald{
    margin-top: 6rem;
}

/* ====================== PAGE: Contact Us ====================== */
.about-wrapper-body-4 {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: var(--special-orange-light);
}

.about-text-box-1 {
    margin: auto;
}

.about-text-box-1 p,
.about-text-box-1 h2 {
    color: var(--special-white);
}

.about-text-box-1 hr {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--special-white);
    margin: auto auto 20px auto;
}

.about-text-box-1 i {
    margin-right: 10px;
}

.contactus_container {
    position: relative;
    width: 100%;
    padding: 200px 100px 0 100px;
}

.contactus_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}

.contactus_subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 2rem;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "form "
        "info"
        "map";
    margin-top: 30px;
    margin-bottom: 30px;

}

.form {
    grid-area: form;
}

.info {
    grid-area: info;

}

.map {
    grid-area: map;
}

.contact {
    margin-top: 30px;

}

.formbox {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formbox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: grid;
    margin-bottom: 10px;
    width: 50%;
}

.formbox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 300;
}

.inputBox input {
    padding: 10px;
    font-size: 1.0rem;
    outline: none;
   
    font-family: 'avenir_next_lt_proregular';
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.0rem;
    outline: none;
    resize: none;
    min-height: 200px;
    margin-bottom: 10px;
    font-family: 'avenir_next_lt_proregular';
}

.inputBox input[type="Submit"] {
    background:var(--special-orange-light);
    border: none;
    font-size: 1.0rem;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    color: var(--special-white);
}

.inputBox ::placeholder {
    color: #000;
}

.info {
    background: var(--special-orange-strong);
}

.info li {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--special-white);
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info .infoBox div p {
    color: var(--special-white);
    font-size: 2.0rem;
    margin-top: 15px;
}

.info .infoBox div a {
    color: var(--special-white);
    text-decoration: none;
    font-size: 1.0rem;
}

.sci {
    margin: 40px auto auto auto;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: var(--special-white);
    font-size: 2rem;
}

.sci li a:hover {
    color: var(--special-grey-light);
    font-size: 2rem;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--special-white);
}


/* ====================== PAGE: FAQs ====================== */

/* ================ Welcome ================ */

/* ====================== PAGE: PRODUCT ====================== */

:root {
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #fff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #000;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --f3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;

}

.product-body {
    margin-top: 150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}

.product-body a {
    text-decoration: none;
    color: inherit;
}

.product-body ul {
    list-style: none;
}

.product-body img {
    max-width: var(--percent100);
    vertical-align: middle;
}

.product-body strong {
    font-weight: var(--fw8);
}

.product-body table {
    border-collapse: collapse;
    border-spacing: 0;
}

.product-body input::placeholder {
    font: inherit;
}

.product-body h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}

.product-body h2 {
    font-size: 2.5em;
}

.product-body h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
}

.product-body h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

.product-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}

.product-column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.product-column .row {
    padding: 0 0.938em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.product-flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.sectop {
    justify-content: space-between;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--border-color);
}

.sectop h2 {
    position: relative;
    font-size: 1.5em;
    font-weight: var(--fw7);
}

.sectop h2 span:not(.circle) {
    padding: 0 0 0 2em;
}

.sectop h2 .circle {
    top: -5px;
}

.trending .products {
    flex: 0 0 33.3333%;
}

.products .offer {
    text-align: center;
    margin-bottom: 1.5em;
}

.products .offer p {
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.products .offer ul {
    gap: 1em;
}

.products .offer ul li {
    position: relative;
    width: 34px;
    height: 34px;
    padding: 0.5em;
    line-height: initial;
    color: var(--secondary-dark-color);
    background-color: var(--light-bg-color);
    border-radius: 5px;
}

.products .offer ul li:not(:last-child)::before {
    content: ":";
    position: absolute;
    right: -0.6em;
    color: var(--light-text-color);
}

.products.big .item {
    flex-direction: column;
    padding: 2.5em;
    border: 2px solid var(--secondary-dark-color);
    border-radius: 7px;
    max-width: 460px;
    margin: 0 auto;
}

.products :where(.product-image, .product-thumbnail) img {
    transition: transform .3s;
}

.products :where(.product-thumbnail, .product-image):hover img {
    transform: scale(1.1);
}

.products .hoverable {
    position: absolute;
    top: 0;
    right: 0;

}

.products .hoverable li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: var(--percent50);
    line-height: 1;
    background-color: var(--white-color);
    opacity: .5;
    transition: var(--trans-background-color), opacity .3s;
}

.products .item:hover .hoverable li a {
    opacity: 1;
}

.products .hoverable li a:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
}

.products .hoverable li.product-active a:hover {
    background-color: var(--primary-color);
}

.products .hoverable li:not(.product-active) {
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s;
    opacity: .2s;
}

.products .item:hover .hoverable li {
    transform: translateX(0);
    opacity: 1;
}

.products .hoverable li:last-child {
    transition-delay: .1s;
}

.products .discount {
    top: auto;
    right: 0;
    left: auto;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
}

.products .discount::before {
    background-color: var(--dark-color);
}

.products .discount span {
    position: absolute;

    font-size: var(--font-smaller);
    font-weight: var(--fw5);
    color: var(--special-black);
}

.products .content {
    display: flex;
    flex-direction: column;
}

.products .big .product-content {
    gap: 1em;
    margin-top: 1.25em;
}

.products .rating {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.products .rating .stars {
    width: 80px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z' fill='rgba(241,196,14,1)'/%3E%3C/svg%3E");
    background-position-y: top;
    background-repeat: no-repeat();

}

.products h3 {
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products h3 a:hover {
    text-decoration: underline;
}

.products .price .product-current {
    font-size: calc(len + 1vw);
    color: var(--primary-color);
    margin-right: 0.25em;
}

.products .price .normal {
    color: var(--light-text-color);
    text-decoration: line-through;
}

.products .stock .qty {
    display: flex;
    justify-content: space-between;
}

.products .stock .bar {
    height: 3px;
    margin-top: 1em;
    background-color: var(--border-color);
    overflow: hidden;
}

.products .stock .available {
    height: 3px;
    width: 21%;
    background-color: var(--secondary-color);
}

.products.mini .item {
    margin-bottom: 2em;
}

.products.mini .product-media {
    width: 130px;
    height: 160px;
    margin-right: 1.25em;
}

.products .item {
    display: flex;
    position: relative;
}

.products:where(.mini) h3 {
    font-weight: 400;
}

.products.mini .product-content {
    margin: 0;
    gap: 0.75em;
}

.product-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--special-white);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}

.product-cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    margin-top: 2rem;
}

.product-cart-img {
    width: 100%;
    height: auto;
}



.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--special-white);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--special-black);
    outline-color: var(--primary-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid;
}

.total-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--primary-color);
    color: var(--special-white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: #000;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}

/* ====================== PAGE: LOGIN ====================== */
.login_container {
    position: relative;
    width: 100%;
    background-color: var(--special-white);
    min-height: 60.9rem;
    overflow: hidden;
  }
  
  .forms_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin_signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2.2rem;
    color: var(--special-grey-strong);
    margin-bottom: 10px;
  }
  
  .input_field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: var(--special-grey-light);
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input_field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input_field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: var(--font-semi-bold);
    font-size: 1.1rem;
    color: #333;
  }
  
  .input_field input::placeholder {
    color: #aaa;
    font-weight: var(--font-medium);
  }
  
  .social_text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social_media {
    display: flex;
    justify-content: center;
  }
  
  .social_icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: var(--special-grey-strong);
    border-radius: 50px;
    border: 1px solid var(--special-grey-strong);
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social_icon:hover {
    color: var(--special-orange-light);
    border-color: var(--special-orange-strong);
  }
  
  .btn {
    width: 150px;
    background-color: var(--special-orange-light);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--special-white);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: var(--special-orange-strong);
  }
  .panels_container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .login_container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #FF9E1B,#FBB03C);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left_panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right_panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: var(--special-white);
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: var(--font-semi-bold);
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid var(--special-white);
    width: 130px;
    height: 41px;
    font-weight: var(--font-semi-bold);
    font-size: 0.8rem;
  }
  
  .right_panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .login_container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  
  .login_container.sign-up-mode .left_panel .content {
    transform: translateX(-800px);
  }
  
  .login_container.sign-up-mode .signin_signup {
    left: 25%;
  }
  
  .login_container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .login_container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .login_container.sign-up-mode .right_panel .content {
    transform: translateX(0%);
  }
  
  .login_container.sign-up-mode .left_panel {
    pointer-events: none;
  }
  
  .login_container.sign-up-mode .right_panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {
    .login_container {
      min-height: 800px;
      height: 975px;
    }
    .signin_signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin_signup,
    .login_container.sign-up-mode .signin_signup {
      left: 50%;
    }
  
    .panels_container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right_panel {
      grid-row: 3 / 4;
    }
  
    .left_panel {
      grid-row: 1 / 2;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .login_container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .login_container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .login_container.sign-up-mode .left_panel .content {
      transform: translateY(-300px);
    }
  
    .login_container.sign-up-mode .right_panel .content {
      transform: translateY(0px);
    }
  
    .right_panel .content {
      transform: translateY(300px);
    }
  
    .login_container.sign-up-mode .signin_signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 480px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .login_container {
      padding: 1.5rem;
    }
  
    .login_container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .login_container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }

/* ====================== FOOTER ====================== */

footer {
    width: 100%;
    position: absolute;
    background-color: var(--special-orange-strong);
    color: var(--special-white);
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col {
    flex-basis: 25%;
    padding: 10px;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
    flex-basis: 15%;
}

.footer-logo {
    width: 80px;
    margin-bottom: 30px;
}

.footer-col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.footer-email-id {
    width: fit-content;
    border-bottom: 1px solid #CCC;
    margin: 20px 0;
}

.footer-col ul,
.footer-col li {
    list-style: none;
    margin-bottom: 12px;
}

.footer-col ul,
.footer-col li a {
    text-decoration: none;
    color: var(--special-white);

}

footer h3 {
    font-size: 20px;
}

footer h4 {
    font-size: 18px;
}

footer p {
    font-size: 1.5em;
}

.footer-col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
    margin-bottom: 50px;
}

.footer-col form .fa-regular {
    font-size: 18px;
    margin-right: 10px;
}

.footer-col form input {
    width: 100%;
    background: transparent;
    color: #CCC;
    border: 0;
    outline: none;
}

.footer-col form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer-col form .fa-arrow-right {
    font-size: 16px;
    color: var(--special-white);
}

.footer-social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: var(--special-orange-strong);
    background: var(--special-white);
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #CCC;
    margin: 20px auto;
}

.footer-copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: var(--special-white);
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

/* ---------------- Social Media Icons ---------------- */
.footer_button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
  
.footer_iconlink{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    color: #000000;
    transition: all 0.3s ease-out;
}

.footer_iconlink i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.footer_button button{
    font-family: var(--body-font);
    font-size: 1.15rem;
    font-weight: bolder;
    line-height: 60px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
  
.footer_button:nth-child(1) button{
    color: #4267B2;
    border: none;
    background: none;
}
.footer_button:nth-child(2) button{
    color: #1DA1F2;
    border: none;
    background: none;
}
.footer_button:nth-child(3) button{
    color: #E1306C;
    border: none;
    background: none;
}

.altfooter_parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.altfooter_icons{
    display: none;
    padding-top: 1.5rem;
}

/* ====================== SCROLL UP ====================== */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--special-orange-strong);
    padding: 0 .3rem;
    border-radius: 5px;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup:hover{
    background-color: var(--special-orange-light);
    transform: scale(1.125);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #FFF;
}

.show-scroll{
    bottom: 5rem;
}


/* ====================== RESPONSIVENESS ====================== */

@media screen and (max-width: 800px) {
    /* ====================== NEW NAVIGATION BAR ====================== */

    #navbar .container-inner {
        display: none;
    }

    #navbar .nav-container {
        grid-template-columns: 1fr 1fr;
    }

    /* ====================== NEW FOOTER ====================== */
    footer {
        bottom: unset;
    }

    .footer-col {
        flex-basis: 100%;
    }

    .footer-col:nth-child(2),
    .footer-col:nth-child(3) {
        flex-basis: 100%;
    }

}

@media screen and (min-width: 800px) {
    .menu form {
        display: none;
    }
}

/* ================ Large Screens ================ */
@media screen and (max-width: 2560px) {
    body {
        font-size: var(--largescreens-font-size);
    }

    .home_altlogo {
        padding: 4.5rem 0 0 8rem;
        width: 600px;
        height: auto;
    }

    .home_aboutus_grid_column1 {
        padding: 3rem 0 0 10rem;
    }

    .home_discover_grid {
        display: grid;
        grid-template-areas:
            "hs ff"
            "hs gp";
        gap: 1rem;
    }

    .home_discover_grid_hs .hs_image {
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .home_discover_grid_ff .ff_image {
        width: 100%;
        height: 338px;
        object-fit: cover;
    }

    .home_discover_grid_gp .gp_image {
        width: 100%;
        height: 338px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    /* ================ FOOTER ================ */
    .footer_button:hover{
        width: 175px;
    }
    .footer_icons .footer_button:hover .footer_iconlink i{
        color: #fff;
    }
    .footer_icons .footer_button:nth-child(1):hover .footer_iconlink{
        background: #4267B2;
    }
    .footer_icons .footer_button:nth-child(2):hover .footer_iconlink{
        background: #1DA1F2;
    }
    .footer_icons .footer_button:nth-child(3):hover .footer_iconlink{
        background: linear-gradient(-135deg, #833AB4, #FCAF45);
    }

}

/* ================ Desktops ================ */
@media screen and (max-width: 1440px) {
    body {
        font-size: var(--desktops-font-size);
    }

    .home_news_poster1 {
        display: block;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1440px;
        height: auto;
    }

    .home_image_postertext {
        position: absolute;
        z-index: 1;
        top: 205px;
        right: 25%;
        color: #FFFFFF;
        width: 25%;
    }

    .home_image_postertext h1 {
        margin-bottom: 0.35rem;
        font-size: calc(var(--h2-font-size) - 1.75rem);
    }

    .home_image_postertext .text {
        margin-bottom: 1rem;
        font-size: calc(var(--desktop-font-size) - 0.15rem);
    }

    .home_image_postertext a {
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }

    .home_aboutus_grid_column1 {
        padding: 3rem 0 0 4rem;
    }

    .home_altlogo {
        padding: 6rem 0 0 8rem;
        width: 600px;
        height: auto;
    }

    .home_discover_grid {
        display: grid;
        grid-template-areas:
            "hs ff"
            "hs gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home_discover_grid_hs .hs_image {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .home_discover_grid_ff .ff_image {
        width: 100%;
        height: 288px;
        object-fit: cover;
    }

    .home_discover_grid_gp .gp_image {
        width: 100%;
        height: 288px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    /* ================ ABOUT PAGE ================ */
    .about-inner-container {
        padding: 80px;
    }
}

/* ================ Laptops ================ */
@media screen and (max-width: 1024px) {
    body {
        font-size: var(--laptops-font-size);
    }

    .home_image_postertext {
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 160px;
        color: #FFFFFF;
        width: 25%;
    }

    .home_image_postertext h1 {
        margin-bottom: 0.35rem;
        font-size: calc(var(--h2-font-size) - 2.2rem);
    }

    .home_image_postertext a {
        margin-top: 3rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.75rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }

    .home_image_postertext .text {
        font-size: calc(var(--laptop-font-size) - 0.2rem);
    }

    .home_altlogo {
        padding: 7.5rem 0 0 2rem;
        width: 400px;
        height: auto;
    }

    .home_discover_grid {
        display: grid;
        grid-template-areas:
            "hs ff"
            "hs gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home_discover_grid_hs .hs_image {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .home_discover_grid_ff .ff_image {
        width: 100%;
        height: 192px;
        object-fit: cover;
    }

    .home_discover_grid_gp .gp_image {
        width: 100%;
        height: 192px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    /* ================ ABOUT PAGE ================ */

    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .about-inner-container {
        width: 100%;
    }

    /* ================ PRODUCT PAGE ================ */
    .product-container {
        padding: 0 2em;
    }

    .trending .products {
        flex: 0 0 33.3333%;
    }

    .products.big .product-media {
        max-height: 373px;
    }

    .products .price .product-current {
        font-size: 1.25em;
    }

    .flexwrap .row {
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 2em;
    }

    .products.mini {
        flex: 0 0 50%;
    }

    /* ================ Contact Us PAGE ================ */
    .contactus_title {
        text-align: center;
    }

    .contactus_subtitle {
        text-align: center;
    }

    /* ================ FOOTER ================ */
    .footer_icons{
        display: none;
    }
    .altfooter_icons{
        display: inline-block;
    }
    .altfooter_icons .footer_button:hover .footer_iconlink i{
        color: #fff;
    }
    .altfooter_icons .footer_button:nth-child(1):hover .footer_iconlink{
        background: #4267B2;
    }
    .altfooter_icons .footer_button:nth-child(2):hover .footer_iconlink{
        background: #1DA1F2;
    }
    .altfooter_icons .footer_button:nth-child(3):hover .footer_iconlink{
        background: linear-gradient(-135deg, #833AB4, #FCAF45);
    }
}


/* ================ Tablets ================ */
@media screen and (max-width: 768px) {
    body {
        font-size: var(--tablets-font-size);
    }

    .home_image_postertext {
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 155px;
        color: #FFFFFF;
        width: 27%;
    }

    .home_image_postertext h1 {
        margin-bottom: 0.2rem;
        font-size: calc(var(--h2-font-size) - 2.5rem);
    }

    .home_image_postertext a {
        margin-top: 2rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.3rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }

    .home_image_grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 75%;
    }
    .home_image_postertext .text {
        font-size: calc(var(--tablets-font-size) - 0.3rem);
    }

    .home_aboutus_grid_column2 {
        display: none;
    }

    .home_aboutus_grid_columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    
    .home_altlogo {
        width: 322.5px;
        height: auto;
    }

    .home_aboutus_text {
        text-align: center;
    }

    .home_aboutus_grid_mobile {
        display: unset;
        margin-left: auto;
        margin-right: auto;
    }

    .home_aboutus_mobiletext {
        display: unset;
        margin: 0 2.25rem 1rem 2.25rem;
    }

    .home_aboutus_grid_column1 {
        display: none;
    }

    .home_aboutus_grid_column2 {
        display: none;
    }

    .home_discover_grid {
        display: grid;
        grid-template-areas:
            "hs"
            "ff"
            "gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home_discover_grid_hs .hs_image {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .home_discover_grid_ff .ff_image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .home_discover_grid_gp .gp_image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    /* ================ CONTACT US PAGE ================ */
    .about-wrapper-body-4 {

        grid-template-columns: 1fr;
        min-height: 100vh;
    }

    #map {
        margin-top: -50px;
        height: 100%;
        width: 100%;
    }

    .form {
        align-items: center;
    }

    .formbox .row50{
    display: flex;
    flex-direction: column;
    gap: 0;
    }
    .inputBox{
        width: 100%;
    }
}

@media screen and (max-width: 616px) {
    body {
        font-size: var(--tablets-font-size);
    }

    .home_image_postertext {
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 145px;
        color: #FFFFFF;
        width: 28%;
    }

    .home_image_postertext h1 {
        margin-bottom: 0.2rem;
        font-size: calc(var(--h2-font-size) - 2.6rem);
    }

    .home_image_postertext a {
        margin-top: 2rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.15rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }

    .home_image_postertext .text {
        font-size: calc(var(--tablets-font-size) - 0.34rem);
    }

    /* ================ ABOUT PAGE ================ */

    .about-section {
        padding: 0;
    }

    .about-inner-container {
        padding: 60px;
    }
}

@media screen and (max-width: 570px) {
    body {
        font-size: var(--mobile-font-size);
    }

    .home_image_postertext {
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 90px;
        color: #FFFFFF;
        width: 27%;
    }

    .home_image_postertext h1 {
        margin-bottom: 0.1rem;
        font-size: calc(var(--h2-font-size) - 2.7rem);
    }

    .home_image_postertext a {
        margin-top: 0.4rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.15rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;

    }

    .home_image_postertext .text {
        font-size: calc(var(--tablets-font-size) - 0.5rem);
    }
}



/* ================ Mobile Devices ================ */
@media screen and (max-width: 480px) {
    body {
        font-size: var(--mobile-font-size);
    }

    /* ================ NAVIGATION ================ */
    .menu {
        background-color: var(--special-white);
    }

    .home_image_postertext {
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 80px;
        color: #FFFFFF;
        width: 27%;
    }

    .home_image_postertext h1 {
        margin-bottom: 0.1rem;
        font-size: calc(var(--h2-font-size) - 2.9rem);
    }

    .home_image_postertext a {
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.25rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        font-size: calc(var(--h2-font-size) - 2.9rem);
    }

    .home_image_postertext .text {
        font-size: calc(var(--mobile-font-size) - 0.55rem);
    }

    .home_image_grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 75%;

    }

    .home_altlogo {
        width: 215px;
        height: auto;
    }

    .home_aboutus_text {
        text-align: center;
        padding: 0;
        padding-top: 1rem;
    }

    .home_aboutus_mobiletext {
        display: unset;
        margin: 0 1rem 1rem 1rem;
        text-align: center;
    }

    .home_aboutus_grid_column1 {
        display: none;
    }

    .home_aboutus_grid_column2 {
        display: none;
    }

    .home_discover_header {
        font-size: 3rem;
    }

    .home_discover_grid {
        display: grid;
        grid-template-areas:
            "hs"
            "ff"
            "gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home_discover {
        background-color: var(--special-grey-light);
        padding: 100px 2rem 2rem 2rem;
        width: 100%;
    }

    .home_discover_grid_hs .hs_image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .home_discover_grid_ff .ff_image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .home_discover_grid_gp .gp_image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    /* ================= ABOUT US ============== */
    .about-wrapper-body {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .about-img {
        max-width: 100%;
        margin: 0;
    }

    .about-wrapper-body-3 {
        display: none;
    }

    .about-wrapper-body-2 {
        display: unset;
    }


}