@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ====================== CSS VARIABLES ====================== */
:root{
    /* ====================== WEBPAGE VARIABLES ====================== */
    --heading-font: font-family: 'Poppins', sans-serif;
    --body-font: 'avenir_next_lt_proregular';
li
    --heading-font-colour: #FFFFFF;
    --body-font-colour: #FFFFFF;

    --h1-font-size: 4.00rem;
    --h2-font-size: 3.50rem;
    --h3-font-size: 2.60rem;
    --h4-font-size: 2.25rem;

    --largescreens-font-size: 1.40rem;
    --desktops-font-size: 1.25rem;
    --laptop-font-size: 1.20rem;
    --tablets-font-size: 1.15rem;
    --mobile-font-size: 1.10rem;

    --font-medium: 500;
    --font-semi-bold: 650;
    --font-header-bold: 800;

    --largescreens-screen-size: 2560px;
    --desktops-screen-size: 1440px;
    --laptop-screen-size: 1024px;
    --tablets-screen-size: 768px;
    --mobile-screen-size: 480px;

    /* ====================== TYPOGRAPHY ====================== */
    /* ================ Avenir Next ================ */
    --avenir-next-lt-probold: 'avenir_next_lt_probold';
    --avenir-next-lt-proBdCn: 'avenir_next_lt_proBdCn';
    --avenir-next-lt-prodemi: 'avenir_next_lt_prodemi';
    --avenir-next-lt-prodemiCn: 'avenir_next_lt_prodemiCn';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proitalic';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proregular';

    /* ====================== COLOURS ====================== */
    --special-orange-dark: #e68d19;
    --special-orange-strong: #FF9E1B;
    --special-orange-light: #FBB03C;

    --special-black: #101820;
    --special-grey-strong:  #3d3d3d;
    --special-grey-light:  #dfdfdf;
    --special-grey-medium:  #777777;
    --special-white: #FFFFFF;
}

/* ====================== WEBPAGE ====================== */
body{
    background-color: var(--special-orange-strong);
    font-family: var(--body-font);
    list-style: none;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-header-bold);
}

h2{
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
}

h3{
    font-family: var(--heading-font);
    font-size: var(--h3-font-size);
}

h4{
    font-family: var(--heading-font);
    font-size: var(--h4-font-size);
}

/* ====================== NEW NAVIGATION BAR ====================== */

ul {
	list-style-type: none;
	padding: 0;
}

.navbar-header {
	min-height: 100vh;
	background: url("assets/media/TheTeaShop - poster 1.png") no-repeat center;
	background-size: cover;
}

.nav-container, .container-inner {
	margin: 0 auto;
	width: 100%;
}

.nav-container {
	max-width: 1350px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.container-inner {
	max-width: 1000px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem;
	z-index: 9;
	transition: 0.7s;
	color: var(--special-black);
}

.brand {
	font-size: 1.6em;
}

#navbar .container-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#navbar .nav-container ul {
	width: 100%;
	margin: 0 1em;
}

#navbar .nav-container ul:nth-child(2) {
	text-align: right;
}

#navbar .nav-container ul li {
	display: inline-block;
	margin: 0 0.7em;
}

#navbar a {
	text-decoration: none;
	font-size: 0.9em;
	transition: 0.3s;
	font-weight: 600;
	color: var(--special-black);
}

#navbar a:hover {
	color: #E54416;
}

.input-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 0;
}

#navbar .fa-bars {
	font-size: 1.2em;
	cursor: pointer;
	transition: 0.3s;
	text-align: right;
}

#navbar .fa-bars:hover {
	color: #E54416;
}

.menu {
	background: var(--special-white);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	height: 0;
	opacity: 0;
	transition: 0.7s cubic-bezier(.74, -0.03, .83, .67);
	overflow-y: hidden;
}
.user {
	margin-right: 50px;
}

.logo {
	width: 3em;
}

.menu ul, .menu form {
	margin: 1em auto;
}

.menu li {
	margin: 1em 0;
}

.menu > div {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	padding: 6em 1em 3em 1em;
	height: 100%;
	overflow-y: scroll;
}

.menu > div::-webkit-scrollbar {
	display: none;	
}

.menu .social-media {
	margin: 2em 0;
}

.social-media li {
	display: inline-block;
	margin: 0 0.5em;
}

.menu-open {
	height: 100vh;
	opacity: 1;
}

.navbar-active {
	background: var(--special-white);
	color: aqua;
	padding: 1em;
}

/* ====================== PAGE: HOME ====================== */

/* ================ Welcome ================ */
.home_welcome{
    background-color: #FFFFFF;
    padding-bottom: 1rem;
    width: 100%;
}

.home_image_grid_poster{
    padding-top: 120px;
    width: 75%;
    margin: 0 auto 1rem auto;
}
.home_image_postercontainer{
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}
.home_image_postercontainer img {
	display: block;
	width: 100%;
    border-radius: 10px;
	transition: transform 0.3s;
}
.home_image_postercontainer:hover img{
	transform: translateY(-1rem);
}

.home_image_postertext{
    position: absolute;
    z-index: 1;
    left: 60%;
    top: 30%;
    color: #FFFFFF;
    width: 25%;
}
.home_image_postertext h1{
    margin-bottom: 1.25rem;
    font-size: calc(var(--h1-font-size) - 1rem);
}
.home_image_postertext .text{
    margin-bottom: 2.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.1rem);
}
.home_image_postertext .alttext{
    margin-bottom: 2.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.1rem);
    display: none;
}
.home_image_postertext a{
    border-radius: 20px;
    color: var(--special-orange-strong);
    background-color: #FFFFFF;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.home_image_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 75%;
    margin: 1.5rem auto 0 auto;
}
.home_image_container{
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}
.home_image_container img {
	display: block;
	width: 100%;
    border-radius: 10px;
	transition: transform 0.3s;
}
.home_image_container:hover img{
	transform: scale(1.1);
}

/* ================ Discover ================ */
.home_discover{
    background-color: #FFFFFF;
    padding: 2rem 0;
    width: 100%;
}

.home_discover_header{
    color: var(--special-orange-strong);
    text-align: center;
}

.home_discover_images{
    padding-top: 2rem;
    width: 75%;
    margin: 0 auto;
}

.home_discover_grid_hs{
    grid-area: hs;
}
.home_discover_grid_ff{
    grid-area: ff;
}
.home_discover_grid_gp{
    grid-area: gp;
}

.home_discover_grid_hs .hs_image{
    border-radius: 10px;
}
.home_discover_grid_hs .hs_image:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
.home_discover_grid_ff .ff_image:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

.home_discover_grid_ff .ff_image{
    border-radius: 10px;
}
.home_discover_grid_gp .gp_image:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.home_discover_grid_hs .hs_image:not(:hover){
    transition: 0.3s;
}

.home_discover_grid_gp .gp_image{
    border-radius: 10px;
}
.home_discover_grid_ff .ff_image:not(:hover){
    transition: 0.3s;
}
.home_discover_grid_gp .gp_image:not(:hover){
    transition: 0.3s;
}

/* ================ About Us ================ */
.home_aboutus{
    background-color: #FFFFFF;
    padding-bottom: 1rem;
}

.home_aboutus_header{
    color: var(--special-orange-strong);
    text-align: center;
    padding-top: 2.5rem;
}

.home_aboutus_grid_columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 0 auto;
}

.home_aboutus_grid_column1{
    padding: 1.5rem 1.5rem 0 3rem;
}

.home_aboutus_grid_column2{
    padding-left: 1.5rem;
    padding-top: 3rem;
}

.home_aboutus_text{
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.home_aboutus_mobiletext{
    display: none;
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    margin: 0 0.5rem 1rem 0.5rem;
}

.home_altlogo{
    margin-top: -7.5rem;
    width: 430px;
    height: auto;
}

.home_aboutus_grid_mobile {
	display: none;
}


/* ====================== PAGE: PRODUCT CATALOGUE ====================== */

.product_catalogue{
    background-color: var(--special-grey-light);
    padding: 100px 8rem 2rem 8rem;
    width: 100%;
}

.product_catalogue_header{
    color: var(--special-orange-strong);
    text-align: center;
    padding-top: 1.5rem;
}

.product_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product_grid_item{
    display: grid;
    grid-template-areas: 
    "image image"
    "content content"
    "price purchase";
    justify-content: center;
    align-content: center;
    gap: 1rem 1.5rem;
}

/* ================ Grid Items - Products ================ */

.product_item_image{
    grid-area: image;
    width: 200px;
    height: auto;
    display: block;
    margin: 2rem auto 1.5rem auto;
    border-radius: 25px;
}
.product_item_image:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.product_item_image:not(:hover){
    transition: 0.3s;
}

.product_item_details{
    grid-area: content;
}

.product_item_details_name{
    margin-bottom: 0.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.25rem);
    text-align: center;
}

.product_item_details_name .item_title{
    font-weight: bold;
}

.product_item_details_description{
    margin-bottom: 1rem;
    font-size: calc(var(--largescreens-font-size) - 0.25rem);
    text-align: center;
}

.product_item_details_description .item_ingredients{
    font-style: italic;
    font-size: calc(var(--largescreens-font-size) - 0.4rem);
}

.product_item_price{
    grid-area: price;
    justify-self: end;
    margin: auto 0 auto 0;
}

.product_item_add-to-cart{
    grid-area: purchase;
    justify-self: start;
    color: #FFFFFF;
    font-size: calc(var(--largescreens-font-size) - 0.5rem);
    height: calc(var(--largescreens-font-size) + 0.75rem);
    width: 8rem;
    background-color: var(--special-orange-strong);
    border-radius: 10px;
    border: none;
}
.product_item_add-to-cart:hover{
    transform: translateX(0.4rem);
    cursor: pointer;
    transition: 0.3s;
}
.product_item_add-to-cart:not(:hover){
    transition: 0.3s;
}

.product_item_add-to-cart .cart_icon{
    color: #FFFFFF;
}

/* ====================== REACH US ====================== */
.contact_faq{
    background-color: var(--special-grey-light);
    padding-top: 100px;
}

.contact_faq_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    margin: 0 auto;
}

#map {
    width: 100%;
    height: 100%;
    max-height: 600px;
    border: none;
    border-radius: 10px;
    padding-left: 5rem;
}
.contact_faq_column1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq_accordion{
    display: flex;
    max-width: 800px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 45px 45px;
}
.faq_accordion .faq_accordion_content{
    width: 100%;
}

.faq_accordion .faq_accordion_content .title{
    font-weight: 600;
    color: var(--special-grey-strong);
}

.faq_accordion .faq_accordion_content .faq_text{
    margin-top: 25px;
    height: 263px;
    overflow-y: auto;
}
.faq_accordion .faq_accordion_content li{
    list-style: none;
    cursor: pointer;
}
.faq_faq_accordion_content li .question_arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq_accordion_content li .question_arrow .question{
    color: var(--special-grey-medium);
    transition: all 0.3s ease;
}
.faq_accordion_content li .question_arrow .arrow{
    color: var(--special-grey-medium);
    transition: all 0.3s ease;
    float: right;
}

.faq_accordion_content li:hover .question_arrow .question, 
.faq_accordion_content li:hover .question_arrow .arrow{
    color: var(--special-orange-strong);
}

.faq_accordion_content li.showAnswer .question_arrow .question, 
.faq_accordion_content li.showAnswer .question_arrow .arrow{
    color: var(--special-orange-strong);
}

.faq_accordion_content li .line{
    display: block;
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background: var(--special-grey-light);
}
.faq_accordion_content li p{
    padding-top: 0.25rem;
    font-size: 1rem;
    width: 92%;
    font-weight: 500;
    color: var(--special-grey-medium);
    display: none;
}
.faq_accordion_content li.showAnswer p{
    display: block;
}

.faq_email{
    color: var(--special-orange-strong);
}

/* ================ Contact Us ================ */
.contact_contactus{
    padding-top: 2rem;
    background: var(--special-grey-light);
}

.contact_section_header{
    color: var(--special-orange-strong);
    text-align: center;
    padding-top: 20px;
    margin-bottom: 2rem;
}

.contact_division{
    width: 75%;
    padding: 20px 60px 30px 40px;
    margin: 0 auto;
}
.contact_division .columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ====== Left Column ====== */
.contact_division .columns .left_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25%;
    height: 100%;
    margin-top: 15px;
}
.columns .left_column .details{
    margin: 14px;
    text-align: center;
}
.columns .left_column .details i{
    font-size: 30px;
    color: var(--special-orange-strong);
    margin-bottom: 10px;
}
.columns .left_column .details .topic{
    font-weight: 500;
}

.columns .left_column .details .text-one{
    font-size: calc(var(--largescreens-font-size) - 0.45rem);
    color: var(--special-grey-medium);
}

/* ====== Right Column ====== */
.contact_division .columns .right_column{
    width: 75%;
    margin: auto 0 auto 75px;
}
.columns .right_column .message_us{
    font-size: 23px;
    font-weight: 600;
    color: var(--special-orange-strong);
}

.right_column p{
    font-size: 1.25rem;
}

.right_column .input_box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.right_column .input_box input, .right_column .input_box textarea{
    height: 100%;
    width: 100%;
    border: 2px;
    font-size: 16px;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.right_column .message_box{
    min-height: 110px;
}
.right_column .input_box textarea{
    padding-top: 6px;
}
.right_column .button{
    display: inline-block;
    margin-top: 12px;
}
.right_column .button input[type="button"]{
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--special-orange-strong);
    cursor: pointer;
    transition: all 0.3s ease;
}
.right_column .button input[type="button"]:hover{
    background: var(--special-orange-light);
}

/* ====== Contact Us Form - Responsiveness ====== */
@media (max-width: 768px) {
    .contact_division{
      margin: 40px 0 0 0;
      height: 100%;
      margin: 0 auto;
    }
    .contact_division .columns{
      flex-direction: column-reverse;
    }
   .contact_division .columns .left_column{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
   }
   .contact_division .columns .right_column{
     width: 100%;
     margin-left: 0;
   }
  }

/* ====================== NEW FOOTER ====================== */

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: var(--special-orange-strong);
	color: var(--special-white);
	padding: 100px 0 30px;
	border-top-left-radius: 125px;
	font-size: 13px;
	line-height: 20px;
}

.footer-row {
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-col {
	flex-basis: 25%;
	padding: 10px;
}

.footer-col:nth-child(2), .footer-col:nth-child(3) {
	flex-basis: 15%;
}

.footer-logo {
	width: 80px;
	margin-bottom: 30px;
}

.footer-col h3 {
	width: fit-content;
	margin-bottom: 40px;
	position: relative;
}

.footer-email-id {
	width: fit-content;
	border-bottom: 1px solid #CCC;
	margin: 20px 0;
}
.footer-col ul, .footer-col li {
	list-style: none;
	margin-bottom: 12px;
}

.footer-col ul, .footer-col li a{
	text-decoration: none;
	color: var(--special-white);

}

footer h3 {
	font-size: 20px;
}

footer h4 {
	font-size: 18px;
}

footer p {
	font-size: 1em;
}

.footer-col form {
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #CCC;
	margin-bottom: 50px;
}
.footer-col form .fa-regular {
	font-size: 18px;
	margin-right: 10px;
}
.footer-col form input {
	width: 100%;
	background: transparent;
	color: #CCC;
	border: 0;
	outline: none;
}

.footer-col form button {
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}
.footer-col form .fa-arrow-right {
	font-size: 16px;
	color: var(--special-white);
}

.footer-social-icons .fab {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: var(--special-orange-strong);
	background: var(--special-white);
	margin-right: 15px;
	cursor: pointer;
}

hr {
	width: 90%;
	border: 0;
	border-bottom: 1px solid #CCC;
	margin: 20px auto;
}

.footer-copyright {
	text-align: center;
}

.underline {
	width: 100%;
	height: 5px;
	background: var(--special-white);
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 0;
	overflow: hidden;
}

.underline span {
	width: 15px;
	height: 100%;
	background: var(--special-orange-light);
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 10px;
	animation: moving 2s linear infinite;
}

@keyframes moving {
	0% {
		left: -20px;
	}
	
	100% {
		left: 100%;
	}
}
/* ====================== SCROLL UP ====================== */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--special-orange-strong);
    padding: 0 .3rem;
    border-radius: 5px;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup:hover{
    background-color: var(--special-orange-light);
    transform: scale(1.125);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #FFF;
}

.show-scroll{
    bottom: 5rem;
}


/* ====================== RESPONSIVENESS ====================== */

@media screen and (max-width: 800px) {
/* ====================== NEW NAVIGATION BAR ====================== */
	
	#navbar .container-inner {
		display: none;
	}
	
	#navbar .nav-container {
		grid-template-columns: 1fr 1fr;
	}
/* ====================== NEW FOOTER ====================== */
	footer {
		bottom: unset;
	}
	
	.footer-col {
		flex-basis: 100%;
	}
	
	.footer-col:nth-child(2), .footer-col:nth-child(3) {
		flex-basis: 100%;
	}
	
}

@media screen and (min-width: 800px) {
	.menu form {
		display: none;
	}
}

/* ================ Large Screens ================ */
@media screen and (max-width: 2560px) {
    body{
        font-size: var(--largescreens-font-size);
    }


    .home_altlogo{
        padding: 4.5rem 0 0 8rem;
        width: 600px;
        height: auto;
    }
    .home_aboutus_grid_column1{
        padding: 3rem 0 0 10rem;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs ff"
        "hs gp";
        gap: 1rem;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 338px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 338px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    .product_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        column-gap: 4rem;
    }
    .product_item_image{
        grid-area: image;
        width: 300px;
        height: auto;
        display: block;
        margin: 2rem auto 1.5rem auto;
        border-radius: 25px;
    }

    
    
}

/* ================ Desktops ================ */
@media screen and (max-width: 1440px) {
    body{
        font-size: var(--desktops-font-size);
    }

    

    .home_news_poster1{
        display: block;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1440px;
        height: auto;
    }
    .home_image_postertext{
        position: absolute;
        z-index: 1;
        top: 205px;
        right: 25%;
        color: #FFFFFF;
        width: 25%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.35rem;
        font-size: calc(var(--h2-font-size) - 1.75rem);
    }
    .home_image_postertext .text{
        margin-bottom: 1rem;
        font-size: calc(var(--desktop-font-size) - 0.15rem);
    }
    .home_image_postertext a{
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_aboutus_grid_column1{
        padding: 3rem 0 0 4rem;
    }
    .home_altlogo{
        padding: 6rem 0 0 8rem;
        width: 600px;
        height: auto;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs ff"
        "hs gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 288px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 288px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    .product_catalogue{
        background-color: var(--special-grey-light);
        padding: 100px 5rem 2rem 5rem;
        width: 100%;
    }
    .product_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        column-gap: 4rem;
    }
    .product_item_image{
        grid-area: image;
        width: 250px;
        height: auto;
        display: block;
        margin: 2rem auto 1.5rem auto;
        border-radius: 25px;
    }
}

/* ================ Laptops ================ */
@media screen and (max-width: 1024px) {
    body{
        font-size: var(--laptops-font-size);
    }

    
    
    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 160px;
        color: #FFFFFF;
        width: 25%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.35rem;
        font-size: calc(var(--h2-font-size) - 2.2rem);
    }
    .home_image_postertext a{
        margin-top: 3rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.75rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_image_postertext .text{
        font-size: calc(var(--laptop-font-size) - 0.2rem);
    }
    .home_altlogo{
        padding: 7.5rem 0 0 2rem;
        width: 400px;
        height: auto;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs ff"
        "hs gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 192px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 192px;
        object-fit: cover;
        object-position: 50% 40%;
    }
    

    .product_catalogue{
        background-color: var(--special-grey-light);
        padding: 100px 3rem 2rem 3rem;
        width: 100%;
    }
    .product_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .product_item_image{
        grid-area: image;
        width: 200px;
        height: auto;
        display: block;
        margin: 2rem auto 1.5rem auto;
        border-radius: 25px;
    }
}

/* ================ Tablets ================ */
@media screen and (max-width: 768px) {
    body{
        font-size: var(--tablets-font-size);
    }
    
	.home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 155px;
        color: #FFFFFF;
        width: 27%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.2rem;
        font-size: calc(var(--h2-font-size) - 2.5rem);
    }
    .home_image_postertext a{
        margin-top: 2rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.3rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_image_postertext .text{
        font-size: calc(var(--tablets-font-size) - 0.3rem);
    }
	.home_aboutus_grid_column2 {
		display: none;
	}
	.home_aboutus_grid_columns{
        display: grid;
        grid-template-columns: 1fr;
	}
    .home_altlogo{
        width: 322.5px;
        height: auto;
    }
    .home_aboutus_text{
        text-align: center;
    }
    .home_aboutus_grid_mobile{
	    display: unset;
		margin-left: auto;
		margin-right: auto;
	}
    .home_aboutus_mobiletext{
        display: unset;
        margin: 0 2.25rem 1rem 2.25rem;
    }
    .home_aboutus_grid_column1{
        display: none;
    }
    .home_aboutus_grid_column2{
        display: none;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs"
        "ff"
        "gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 40%;
    }

    .product_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
    }

    .contact_faq_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0 auto;
        justify-items: center;
        align-items: center;
    }
    .google_maps{
        width: 500px;
        height: 500px;
        border: none;
        border-radius: 10px;
        padding-top: 4rem;
        margin: 0 auto;
    }

    
}

@media screen and (max-width: 616px){
    body{
        font-size: var(--tablets-font-size);
    }

    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 145px;
        color: #FFFFFF;
        width: 28%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.2rem;
        font-size: calc(var(--h2-font-size) - 2.6rem);
    }
    .home_image_postertext a{
        margin-top: 2rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.15rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_image_postertext .text{
        font-size: calc(var(--tablets-font-size) - 0.34rem);
    }
}

@media screen and (max-width: 570px){
    body{
        font-size: var(--mobile-font-size);
    }

    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 145px;
        color: #FFFFFF;
        width: 27%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.1rem;
        font-size: calc(var(--h2-font-size) - 2.7rem);
    }
    .home_image_postertext a{
        margin-top: 0.4rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.15rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        
    }
    .home_image_postertext .text{
        font-size: calc(var(--tablets-font-size) - 0.5rem);
    }
}



/* ================ Mobile Devices ================ */
@media screen and (max-width: 480px) {
    body{
        font-size: var(--mobile-font-size);
    }

    
    
    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 140px;
        color: #FFFFFF;
        width: 27%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.1rem;
        font-size: calc(var(--h2-font-size) - 2.9rem);
    }
    .home_image_postertext a{
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.25rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        font-size: calc(var(--h2-font-size) - 2.9rem);
    }
    .home_image_postertext .text{
        font-size: calc(var(--mobile-font-size) - 0.55rem);
    }
    .home_altlogo{
        width: 215px;
        height: auto;
    }
    .home_aboutus_text{
        text-align: center;
        padding: 0;
        padding-top: 1rem;
    }
    .home_aboutus_mobiletext{
        display: unset;
        margin: 0 1rem 1rem 1rem;
        text-align: center;
    }
    .home_aboutus_grid_column1{
        display: none;
    }
    .home_aboutus_grid_column2{
        display: none;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs"
        "ff"
        "gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover{
        background-color: var(--special-grey-light);
        padding: 100px 2rem 2rem 2rem;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 40%;
    }
    
    .product_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--special-grey-light);
    }
    .product_item_image{
        grid-area: image;
        width: 250px;
        height: auto;
        display: block;
        margin: 2rem auto 1.5rem auto;
        border-radius: 25px;
    }

    .contact_faq_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
        justify-items: center;
        align-items: center;
    }
    .google_maps{
        width: 375px;
        height: 375px;
        border: none;
        border-radius: 10px;
        padding-top: 4rem;
        padding: 4rem 1rem 0 0;
    }
    
}

/* ================ Small Mobile Devices ================ */
@media screen and (max-width: 400px) {
    body{
        font-size: var(--mobile-font-size);
    }

    
    
    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 135px;
        color: #FFFFFF;
        width: 27%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.1rem;
        font-size: calc(var(--h2-font-size) - 2.9rem);
    }
    .home_image_postertext a{
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.125rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        font-size: calc(var(--h2-font-size) - 3rem);;
    }
    .home_image_postertext .text{
        font-size: calc(var(--mobile-font-size) - 0.6rem);
    }
    .home_altlogo{
        width: 215px;
        height: auto;
    }
    .home_aboutus_text{
        padding-top: 1rem;
        text-align: center;
        padding: 0;
    }
    .home_aboutus_mobiletext{
        display: unset;
        margin: 0 1rem 1rem 1rem;
        text-align: center;
    }
    .home_aboutus_grid_column1{
        display: none;
    }
    .home_aboutus_grid_column2{
        display: none;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs"
        "ff"
        "gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover{
        background-color: var(--special-grey-light);
        padding: 100px 2rem 2rem 2rem;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 40%;
    }
    
    .product_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--special-grey-light);
    }
    .product_item_image{
        grid-area: image;
        width: 250px;
        height: auto;
        display: block;
        margin: 2rem auto 1.5rem auto;
        border-radius: 25px;
    }

    .contact_faq_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
        justify-items: center;
        align-items: center;
    }
    .faq_accordion{
        display: flex;
        max-width: 800px;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 45px 45px;
    }
    .google_maps{
        width: 300px;
        height: 300px;
        border: none;
        border-radius: 10px;
        padding-top: 4rem;
        padding: 4rem 1rem 0 0;
    }
    
}

/* ====================== PAGE: LOGIN ====================== */
.login_container {
    position: relative;
    width: 100%;
    background-color: var(--special-white);
    min-height: 60.9rem;
    overflow: hidden;
  }
  
  .forms_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin_signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  .sign-in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2.2rem;
    color: var(--special-grey-strong);
    margin-bottom: 10px;
  }
  
  .input_field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: var(--special-grey-light);
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input_field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input_field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: var(--font-semi-bold);
    font-size: 1.1rem;
    color: #333;
  }
  
  .input_field input::placeholder {
    color: #aaa;
    font-weight: var(--font-medium);
  }
  
  .social_text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social_media {
    display: flex;
    justify-content: center;
  }
  
  .social_icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: var(--special-grey-strong);
    border-radius: 50px;
    border: 1px solid var(--special-grey-strong);
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social_icon:hover {
    color: var(--special-orange-light);
    border-color: var(--special-orange-strong);
  }
  
  .btn {
    width: 150px;
    background-color: var(--special-orange-light);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--special-white);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: var(--special-orange-strong);
  }
  .panels_container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .login_container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #FF9E1B,#FBB03C);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left_panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right_panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: var(--special-white);
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: var(--font-semi-bold);
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid var(--special-white);
    width: 130px;
    height: 41px;
    font-weight: var(--font-semi-bold);
    font-size: 0.8rem;
  }
  
  .right_panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .login_container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  
  .login_container.sign-up-mode .left_panel .content {
    transform: translateX(-800px);
  }
  
  .login_container.sign-up-mode .signin_signup {
    left: 25%;
  }
  
  .login_container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .login_container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .login_container.sign-up-mode .right_panel .content {
    transform: translateX(0%);
  }
  
  .login_container.sign-up-mode .left_panel {
    pointer-events: none;
  }
  
  .login_container.sign-up-mode .right_panel {
    pointer-events: all;
  }
  
  /* ====================== RESPONSIVENESS ====================== */
  /* ================ Laptops ================ */
  @media (max-width: 870px) {
    .login_container {
      min-height: 800px;
      height: 975px;
    }
    .signin_signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin_signup,
    .login_container.sign-up-mode .signin_signup {
      left: 50%;
    }
  
    .panels_container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right_panel {
      grid-row: 3 / 4;
    }
  
    .left_panel {
      grid-row: 1 / 2;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .login_container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .login_container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .login_container.sign-up-mode .left_panel .content {
      transform: translateY(-300px);
    }
  
    .login_container.sign-up-mode .right_panel .content {
      transform: translateY(0px);
    }
  
    .right_panel .content {
      transform: translateY(300px);
    }
  
    .login_container.sign-up-mode .signin_signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
/* ================ Mobile ================ */
  @media (max-width: 480px) {
    .sign-in-form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .login_container {
      padding: 1.5rem;
    }
  
    .login_container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .login_container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }

/* ====================== PAGE: About Us ====================== */
