@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ====================== CSS VARIABLES ====================== */
:root{
    /* ====================== WEBPAGE VARIABLES ====================== */
    --heading-font: font-family: 'Poppins', sans-serif;
    --body-font: 'avenir_next_lt_proregular';
    --heading-font-colour: #FFFFFF;
    --body-font-colour: #FFFFFF;

    --h1-font-size: 4.00rem;
    --h2-font-size: 3.50rem;
    --h3-font-size: 2.60rem;
    --h4-font-size: 2.25rem;

    --largescreens-font-size: 1.40rem;
    --desktops-font-size: 1.25rem;
    --laptop-font-size: 1.20rem;
    --tablets-font-size: 1.15rem;
    --mobile-font-size: 1.10rem;

    --font-medium: 500;
    --font-semi-bold: 650;
    --font-header-bold: 800;

    --largescreens-screen-size: 2560px;
    --desktops-screen-size: 1440px;
    --laptop-screen-size: 1024px;
    --tablets-screen-size: 768px;
    --mobile-screen-size: 480px;

    /* ====================== TYPOGRAPHY ====================== */
    /* ================ Avenir Next ================ */
    --avenir-next-lt-probold: 'avenir_next_lt_probold';
    --avenir-next-lt-proBdCn: 'avenir_next_lt_proBdCn';
    --avenir-next-lt-prodemi: 'avenir_next_lt_prodemi';
    --avenir-next-lt-prodemiCn: 'avenir_next_lt_prodemiCn';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proitalic';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proregular';

    /* ====================== COLOURS ====================== */
    --special-orange-dark: #e68d19;
    --special-orange-strong: #FF9E1B;
    --special-orange-light: #FBB03C;

    --special-black: #101820;
    --special-grey-strong:  #3d3d3d;
    --special-grey-light:  #dfdfdf;
    --special-grey-medium:  #777777;
    --special-white: #FFFFFF;
}

/* ====================== WEBPAGE ====================== */
body{

    font-family: var(--body-font);
    list-style: none;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-header-bold);
}

h2{
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
}

h3{
    font-family: var(--heading-font);
    font-size: var(--h3-font-size);
}

h4{
    font-family: var(--heading-font);
    font-size: var(--h4-font-size);
}

/* ====================== NEW NAVIGATION BAR ====================== */

ul {
	list-style-type: none;
	padding: 0;
}

.navbar-header {
	background-size: cover;
}

.nav-container, .container-inner {
	margin: 0 auto;
	width: 100%;
}

.nav-container {
	max-width: 1350px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.container-inner {
	max-width: 1000px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem;
	z-index: 9;
	transition: 0.7s;
	color: var(--special-black);
}

.brand {
	font-size: 1.6em;
}

#navbar .container-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#navbar .nav-container ul {
	width: 100%;
	margin: 0 1em;
}

#navbar .nav-container ul:nth-child(2) {
	text-align: right;
}

#navbar .nav-container ul li {
	display: inline-block;
	margin: 0 0.7em;
}

#navbar a {
	text-decoration: none;
	font-size: 0.9em;
	transition: 0.3s;
	font-weight: 600;
	color: var(--special-black);
}

#navbar a:hover {
	color: var(--special-orange-strong);
}

.input-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 0;
}

#navbar .fa-bars {
	font-size: 1.2em;
	cursor: pointer;
	transition: 0.3s;
	text-align: right;
}

#navbar .fa-bars:hover {
	color: var(--special-orange-strong);
}

.menu {
	background: var(--special-white);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	height: 0;
	opacity: 0;
	transition: 0.7s cubic-bezier(.74, -0.03, .83, .67);
	overflow-y: hidden;
}
.user {
	margin-right: 50px;
}

.logo {
	width: 3em;
}

.menu ul, .menu form {
	margin: 1em auto;
}

.menu li {
	margin: 1em 0;
}

.menu > div {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	padding: 6em 1em 3em 1em;
	height: 100%;
	overflow-y: scroll;
}

.menu > div::-webkit-scrollbar {
	display: none;	
}

.menu .social-media {
	margin: 2em 0;
}

.social-media li {
	display: inline-block;
	margin: 0 0.5em;
}

.menu-open {
	height: 100vh;
	opacity: 1;
}

.navbar-active {
	background: var(--special-white);
	color: aqua;
	padding: 1em;
}

/* ====================== PAGE: HOME ====================== */

/* ================ Welcome ================ */
.home_welcome{
    margin-top: 200px;
    background-color: #FFFFFF;
    padding-bottom: 1rem;
    width: 100%;
}

.home_image_grid_poster{
    position: relative;
    text-align: center;
    width: 75%;
    margin: 0 auto 1rem auto;
}
.home_image_postercontainer{
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}
.home_image_postercontainer img {
	display: block;
	width: 100%;
    border-radius: 10px;
	transition: transform 0.3s;
}
.home_image_postercontainer:hover img{
	transform: translateY(-1rem);
}

.home_image_postertext{
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 25%;
}
.home_image_postertext h1{
    margin-bottom: 1.25rem;
    font-size: calc(var(--h1-font-size) - 1.5rem);
}
.home_image_postertext .text{
    margin-bottom: 2.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.1rem);
}
.home_image_postertext .alttext{
    margin-bottom: 2.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.1rem);
    display: none;
}
.home_image_postertext a{
    border-radius: 20px;
    color: var(--special-orange-strong);
    background-color: #FFFFFF;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.home_image_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 75%;
    margin: 1.5rem auto 0 auto;
}
.home_image_container{
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}
.home_image_container img {
	display: block;
	width: 100%;
    border-radius: 10px;
	transition: transform 0.3s;
}
.home_image_container:hover img{
	transform: scale(1.1);
}

/* ================ Discover ================ */
.home_discover{
    background-color: #FFFFFF;
    padding: 2rem 0;
    width: 100%;
}

.home_discover_header{
    color: var(--special-orange-strong);
    text-align: center;
}

.home_discover_images{
    padding-top: 2rem;
    width: 75%;
    margin: 0 auto;
}

.home_discover_grid_hs{
    grid-area: hs;
}
.home_discover_grid_ff{
    grid-area: ff;
}
.home_discover_grid_gp{
    grid-area: gp;
}

.home_discover_grid_hs .hs_image{
    border-radius: 10px;
}
.home_discover_grid_hs .hs_image:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
.home_discover_grid_ff .ff_image:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

.home_discover_grid_ff .ff_image{
    border-radius: 10px;
}
.home_discover_grid_gp .gp_image:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.home_discover_grid_hs .hs_image:not(:hover){
    transition: 0.3s;
}

.home_discover_grid_gp .gp_image{
    border-radius: 10px;
}
.home_discover_grid_ff .ff_image:not(:hover){
    transition: 0.3s;
}
.home_discover_grid_gp .gp_image:not(:hover){
    transition: 0.3s;
}
.swiper-body { 
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    color: #000; 
    margin: 0; 
    padding: 0; 
  } 
 
  .swiper { 
    width: 75%; 
    padding-top: 50px; 
    padding-bottom: 50px; 
  } 
 
  .swiper-slide { 
    background-position: center; 
    background-size: cover; 
    width: 300px; 
    height: 300px; 
  } 
 
  .swiper-slide img { 
    display: block; 
    width: 100%; 
    height: 100%;
  }

/* ================ About Us ================ */
.home_aboutus{
    background-color: #FFFFFF;
    padding-bottom: 1rem;
}

.home_aboutus_header{
    color: var(--special-orange-strong);
    text-align: center;
    padding-top: 2.5rem;
}

.home_aboutus_grid_columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 0 auto;
}

.home_aboutus_grid_column1{
    padding: 1.5rem 1.5rem 0 3rem;
}

.home_aboutus_grid_column2{
    padding-left: 1.5rem;
    padding-top: 3rem;
}

.home_aboutus_text{
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.home_aboutus_mobiletext{
    display: none;
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    margin: 0 0.5rem 1rem 0.5rem;
}

.home_altlogo{
    margin-top: -7.5rem;
    width: 430px;
    height: auto;
}

.home_aboutus_grid_mobile {
	display: none;
}

/* ====================== PAGE: ABOUT ====================== */
.about-body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--special-white);
}

.about-section {
	background: url("assets/media/product-renders/TheHouseSpecials - TheClassic - FrontView.jpg") no-repeat left;
	width: 100%;
	background-size: 55%;
	background-color: var(--special-orange-strong);
	overflow: hidden;
	padding: 100px 0;
}

.about-inner-container {
	width: 55%;	
	float: right;
	background-color: var(--special-white);
	padding: 150px;
}

.about-inner-container h1 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 900;
}

.about-text {
	font-size: 13px;
	color: black;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;
}

.skills {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 13px;
}

.skills span:nth-child(1), .skills span:nth-child(2), .skills span:nth-child(3) {
	cursor: pointer;
}

.about-wrapper-body, .about-wrapper-body-2, .about-wrapper-body-3 {
	min-height: 50vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	
}
.about-wrapper-body-2 {
	display:none;
}

.about-wrapper {
	margin-left: auto;
	margin-right: auto;
}

.about-text-box {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.about-text-box h2 {
	font-size: 42px;
	margin-bottom: 10px;
}

.about-text-box p {
	font-size: 16px;
}

.about-img {
	max-width: 520px;
	border: 3px solid var(--special-orange-strong);
	border-radius: 10px;
	margin-right: 15px;
}

/* ====================== PAGE: Contact Us ====================== */ 
.contactus_container { 
    position: relative; 
    width: 100%; 
    padding: 200px 100px; 
} 
 
.contactus_title { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 2.5rem; 
} 
 
.contactus_subtitle { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1rem; 
    margin-top: 2rem; 
} 
 
.box{ 
    position: relative; 
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 5fr 4fr; 
    grid-template-areas: "form info" 
    "form map"; 
    grid-gap: 20px; 
    margin-top: 30px; 
 
} 
 
.form{ 
    grid-area: form; 
} 
.info{ 
    grid-area: info; 
} 
.map{ 
    grid-area: map; 
} 
 
.contact{ 
    margin-top: 3; 
    padding: 40px; 
     
} 
 
.formbox{ 
    position: relative; 
    width: 100%; 
} 
 
.formbox .row50{ 
    display: flex; 
    gap: 20px; 
} 
 
.inputBox{ 
    display: flex; 
    flex-direction: column; 
    margin-bottom: 10px; 
    width: 50%; 
} 
 
.formbox .row100 .inputBox { 
    width: 100%; 
} 
 
.inputBox span{ 
    margin-top: 10px; 
    margin-bottom: 5px; 
    font-weight: 300; 
} 
 
.inputBox input{ 
    padding: 10px; 
    font-size: 0.6em; 
    outline: none; 
} 
 
.inputBox textarea{ 
    padding: 10px; 
    font-size: 1.0rem; 
    outline: none; 
    resize: none; 
    min-height: 200px; 
    margin-bottom: 10px; 
} 
 
.inputBox input[type="Submit"] 
{ 
    background: #FBB03C; 
    border: none; 
    font-size: 1.0rem; 
    max-width: 120px; 
    font-weight: 500; 
    cursor: pointer; 
    padding: 14px 15px; 
} 
 
.inputBox ::placeholder 
{ 
    color: #000; 
}

.info
{
    background: var(--special-orange-strong);
}
.info li{
    font-size: 1.5rem;
    font-weight: 100;
}

.info .infoBox div
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info .infoBox div p
{
    color: var(--special-white);
    font-size: 1.0rem;
    margin-top: 15px;
}

.info .infoBox div a
{
    color: var(--special-white);
    text-decoration: none;
    font-size: 1.0rem;
}

.sci
{
    margin-top: 40px;
    display: flex;
}

.sci li
{
    list-style: none;
    margin-right: 15px;
}

.sci li a
{
    color: var(--special-grey-light);
    font-size: 2rem;
}

.sci li a:hover
{
    color: var(--special-white);
    font-size: 2rem;
}

/* ====================== PAGE: PRODUCT ====================== */ 


:root {
	--primary-color: #ff6b6b;
	--secondary-color: #794afa;
	--secondary-dark-color: #453c5c;
	
	--white-color: #fff;
	--light-bg-color: #f2f3f5;
	--light-text-color: #7c899a;
	--border-color: #e5e8ec;
	--dark-color: #000;
	
	--font-small: 13px;
	--font-smaller: 11px;
	
	--percent100: 100%;
	--percent50: 50%;
	
	--f3: 300;
	--fw5: 500;
	--fw6: 600;
	--fw7: 700;
	--fw8: 800;
	
	--trans-background-color: background-color .3s, color .3s;
	--trans-background: background-color .3s;
	--trans-color: color .3s;
	
}

.product-body {
	margin-top: 150px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: var(--dark-color);
	background-color: var(--white-color);
}

.product-body a {
	text-decoration: none;
	color: inherit;
}

.product-body ul {
	list-style: none;
}

.product-body img {
	max-width: var(--percent100);
	vertical-align: middle;
}

.product-body strong {
	font-weight: var(--fw8);
}

.product-body table {
	border-collapse: collapse;
	border-spacing: 0;
}

.product-body input::placeholder {
	font: inherit;
}

.product-body h1 {
	font-size: calc(1.3em + 1vw);
	font-weight: var(--fw8);
	line-height: 1;
}

.product-body h2 {
	font-size: 2.5em;
}

.product-body h3 {
	font-size: 1.2em;
	font-weight: var(--fw7);
}

.product-body h4 {
	font-size: 1em;
	font-weight: var(--fw6);
}

.product-container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 0.938em;
}

.product-column {
	margin-left: -0.938em;
	margin-right: -0.938em;
}

.product-column .row {
	padding: 0 0.938em;
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.product-flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexitem {
	display: flex;
	align-items: center;
}

.flexcol {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.sectop {
	justify-content: space-between;
	padding-bottom: 0.5em;
	margin-bottom: 2em;
	border-bottom: 1px solid var(--border-color);
}

.sectop h2 {
	position: relative;
	font-size: 1.5em;
	font-weight: var(--fw7);
}

.sectop h2 span:not(.circle) {
	padding: 0 0 0 2em;
}

.sectop h2 .circle {
	top: -5px;
}

.trending .products {
	flex: 0 0 33.3333%;
}

.products .offer {
	text-align: center;
	margin-bottom: 1.5em;
}

.products .offer p {
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.products .offer ul {
	gap: 1em;
}

.products .offer ul li {
	position: relative;
	width: 34px;
	height: 34px;
	padding: 0.5em;
	line-height: initial;
	color: var(--secondary-dark-color);
	background-color: var(--light-bg-color);
	border-radius: 5px;
}

.products .offer ul li:not(:last-child)::before {
	content: ":";
	position: absolute;
	right: -0.6em;
	color: var(--light-text-color);
}

.products.big .item {
	flex-direction: column;
	padding: 2.5em;
	border: 2px solid var(--secondary-dark-color);
	border-radius: 7px;
	max-width: 460px;
	margin: 0 auto;
}

.products .product-image img {
	transition: transform .3s;
}

.products .product-thumbnail img {
	transition: transform .3s;
}

.products .product-thumbnail:hover img {
	transform: scale(1.1);
}

.products .product-image:hover img {
	transform: scale(1.1);
}

.products .hoverable {
	position: absolute;
	top: 0;
	right: 0;
}

.products .hoverable li a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	padding: 0.25em;
	margin: 0.25em;
	border-radius: var(--percent50);
	line-height: 1;
	background-color: var(--white-color);
	opacity: .5;
	transition: var(--trans-background-color), opacity .3s;
}

.products .item:hover .hoverable li a {
	opacity: 1;
}

.products .hoverable li a:hover {
	color: var(--white-color);
	background-color: var(--dark-color);
}

.products .hoverable li.product-active a:hover {
	background-color: var(--primary-color);
}

.products .hoverable li:not(.product-active) {
	transform: translateX(100%);
	opacity: 0;
	transition: transform .3s; opacity: .2s;
}

.products .item:hover .hoverable li {
	transform: translateX(0);
	opacity: 1;
}

.products .hoverable li:last-child {
	transition-delay: .1s;
}

.products .discount {
	top:auto;
	right: 0;
	left: auto;
	bottom: 0;
	background-color: transparent;
	z-index: ;
}

.products .discount::before {
	background-color: var(--dark-color);
}

.products .discount span {
	position: relative;
	font-size: var(--font-smaller);
	font-weight: var(--fw5);
	color: var(--white-color);
}

.products .content {
	display: flex;
	flex-direction: column;
}

.products .big .product-content {
	gap: 1em;
	margin-top: 1.25em;
}

.products .rating {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.products .rating .stars {
	width: 80px;
	height: 16px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z' fill='rgba(241,196,14,1)'/%3E%3C/svg%3E");
	background-position-y: top;
	background-repeat-y: no-repeat();
	
}

.products h3 {
	font-size: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.products h3 a:hover {
	text-decoration: underline;
}

.products .price .product-current {
	font-size: calc(len + 1vw);
	color: var(--primary-color);
	margin-right: 0.25em;
}

.products .price .normal {
	color: var(--light-text-color);
	text-decoration: line-through;
}

.products .stock .qty {
	display: flex;
	justify-content: space-between;
}

.products .stock .bar {
	height: 3px;
	margin-top: 1em;
	background-color: var(--border-color);
	overflow: hidden;
}

.products .stock .available {
	height: 3px;
	width: 21%;
	background-color: var(--secondary-color);
}

.products.mini .item {
	margin-bottom: 2em;
}

.products.mini .product-media {
	width: 130px;
	height: 160px;
	margin-right: 1.25em;
}

.products .item {
	display: flex;
	position: relative;
}

.products:where(.mini) h3 {
	font-weight: 400;
}

.products.mini .product-content {
	margin: 0;
	gap: 0.75em;
}



/* ====================== NEW FOOTER ====================== */

footer {
	width: 100%;
	position: absolute;
	background-color: var(--special-orange-strong);
	color: var(--special-white);
	padding: 100px 0 30px;
	border-top-left-radius: 125px;
	font-size: 13px;
	line-height: 20px;
}

.footer-row {
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-col {
	flex-basis: 25%;
	padding: 10px;
}

.footer-col:nth-child(2), .footer-col:nth-child(3) {
	flex-basis: 15%;
}

.footer-logo {
	width: 80px;
	margin-bottom: 30px;
}

.footer-col h3 {
	width: fit-content;
	margin-bottom: 40px;
	position: relative;
}

.footer-email-id {
	width: fit-content;
	border-bottom: 1px solid #CCC;
	margin: 20px 0;
}
.footer-col ul, .footer-col li {
	list-style: none;
	margin-bottom: 12px;
}

.footer-col ul, .footer-col li a{
	text-decoration: none;
	color: var(--special-white);

}

footer h3 {
	font-size: 20px;
}

footer h4 {
	font-size: 18px;
}

footer p {
	font-size: 1.5em;
}

.footer-col form {
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #CCC;
	margin-bottom: 50px;
}
.footer-col form .fa-regular {
	font-size: 18px;
	margin-right: 10px;
}
.footer-col form input {
	width: 100%;
	background: transparent;
	color: #CCC;
	border: 0;
	outline: none;
}

.footer-col form button {
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}
.footer-col form .fa-arrow-right {
	font-size: 16px;
	color: var(--special-white);
}

.footer-social-icons .fab {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: var(--special-orange-strong);
	background: var(--special-white);
	margin-right: 15px;
	cursor: pointer;
}

hr {
	width: 90%;
	border: 0;
	border-bottom: 1px solid #CCC;
	margin: 20px auto;
}

.footer-copyright {
	text-align: center;
}

.underline {
	width: 100%;
	height: 5px;
	background: var(--special-white);
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 0;
	overflow: hidden;
}

.underline span {
	width: 15px;
	height: 100%;
	background: var(--special-orange-light);
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 10px;
	animation: moving 2s linear infinite;
}

@keyframes moving {
	0% {
		left: -20px;
	}
	
	100% {
		left: 100%;
	}
}
/* ====================== SCROLL UP ====================== */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--special-orange-strong);
    padding: 0 .3rem;
    border-radius: 5px;
    z-index: 1000;
    transition: .4s;
}
.scrollup:hover{
    background-color: var(--special-orange-light);
    transform: scale(1.125);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #FFF;
}

.show-scroll{
    bottom: 5rem;
}


/* ====================== RESPONSIVENESS ====================== */

@media screen and (max-width: 800px) {
/* ====================== NEW NAVIGATION BAR ====================== */
	
	#navbar .container-inner {
		display: none;
	}
	
	#navbar .nav-container {
		grid-template-columns: 1fr 1fr;
	}
/* ====================== NEW FOOTER ====================== */
	footer {
		bottom: unset;
	}
	
	.footer-col {
		flex-basis: 100%;
	}
	
	.footer-col:nth-child(2), .footer-col:nth-child(3) {
		flex-basis: 100%;
	}
	
}

@media screen and (min-width: 800px) {
	.menu form {
		display: none;
	}
}

/* ================ Large Screens ================ */
@media screen and (max-width: 2560px) {
    body{
        font-size: var(--largescreens-font-size);
    }

    .home_altlogo{
        padding: 4.5rem 0 0 8rem;
        width: 600px;
        height: auto;
    }
    .home_aboutus_grid_column1{
        padding: 3rem 0 0 10rem;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs ff"
        "hs gp";
        gap: 1rem;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 338px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 338px;
        object-fit: cover;
        object-position: 50% 40%;
    }
 
    
}

/* ================ Desktops ================ */
@media screen and (max-width: 1440px) {
    body{
        font-size: var(--desktops-font-size);
    }
	
    .home_news_poster1{
        display: block;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1440px;
        height: auto;
    }
    .home_image_postertext{
        position: absolute;
        z-index: 1;
        top: 205px;
        right: 25%;
        color: #FFFFFF;
        width: 25%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.35rem;
        font-size: calc(var(--h2-font-size) - 1.75rem);
    }
    .home_image_postertext .text{
        margin-bottom: 1rem;
        font-size: calc(var(--desktop-font-size) - 0.15rem);
    }
    .home_image_postertext a{
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_aboutus_grid_column1{
        padding: 3rem 0 0 4rem;
    }
    .home_altlogo{
        padding: 6rem 0 0 8rem;
        width: 600px;
        height: auto;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs ff"
        "hs gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 288px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 288px;
        object-fit: cover;
        object-position: 50% 40%;
    }
/* ================ ABOUT PAGE ================ */
	.about-inner-container {
		padding: 80px;
	}
}
/* ================ Laptops ================ */
@media screen and (max-width: 1024px) {
    body{
        font-size: var(--laptops-font-size);
    }

    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 160px;
        color: #FFFFFF;
        width: 25%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.35rem;
        font-size: calc(var(--h2-font-size) - 2.2rem);
    }
    .home_image_postertext a{
        margin-top: 3rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.75rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_image_postertext .text{
        font-size: calc(var(--laptop-font-size) - 0.2rem);
    }
    .home_altlogo{
        padding: 7.5rem 0 0 2rem;
        width: 400px;
        height: auto;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs ff"
        "hs gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 192px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 192px;
        object-fit: cover;
        object-position: 50% 40%;
    }
	
	/* ================ ABOUT PAGE ================ */
	
	.about-section {
		background-size: 100%;
		padding: 100px 40px;
	}
	
	.about-inner-container {
		width: 100%;
	}
	
	/* ================ PRODUCT PAGE ================ */
	.product-container {
		padding: 0 2em;
	}
	
	.trending .products {
		flex: 0 0 33.3333%;
	}
	
	.products.big .product-media {
		max-height: 373px;
	}
	
	.products .price .product-current {
		font-size: 1.25em;
	}
	
	.flexwrap .row {
	flex: 0 0 100%;
	width: 100%;
	margin-bottom: 2em;
}
	
	.products.mini {
		flex: 0 0 50%;
	}
}

/* ================ Tablets ================ */
@media screen and (max-width: 768px) {
    body{
        font-size: var(--tablets-font-size);
    }
    
	.home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 155px;
        color: #FFFFFF;
        width: 27%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.2rem;
        font-size: calc(var(--h2-font-size) - 2.5rem);
    }
    .home_image_postertext a{
        margin-top: 2rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.3rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_image_postertext .text{
        font-size: calc(var(--tablets-font-size) - 0.3rem);
    }
	.home_aboutus_grid_column2 {
		display: none;
	}
	.home_aboutus_grid_columns{
        display: grid;
        grid-template-columns: 1fr;
	}
    .home_altlogo{
        width: 322.5px;
        height: auto;
    }
    .home_aboutus_text{
        text-align: center;
    }
    .home_aboutus_grid_mobile{
	    display: unset;
		margin-left: auto;
		margin-right: auto;
	}
    .home_aboutus_mobiletext{
        display: unset;
        margin: 0 2.25rem 1rem 2.25rem;
    }
    .home_aboutus_grid_column1{
        display: none;
    }
    .home_aboutus_grid_column2{
        display: none;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs"
        "ff"
        "gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 40%;
    }

}

@media screen and (max-width: 616px){
    body{
        font-size: var(--tablets-font-size);
    }

    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 145px;
        color: #FFFFFF;
        width: 28%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.2rem;
        font-size: calc(var(--h2-font-size) - 2.6rem);
    }
    .home_image_postertext a{
        margin-top: 2rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.15rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
    }
    .home_image_postertext .text{
        font-size: calc(var(--tablets-font-size) - 0.34rem);
    }
	
	/* ================ ABOUT PAGE ================ */
	
	.about-section {
		padding: 0;
	}
	
	.about-inner-container {
		padding: 60px;
	}
}

@media screen and (max-width: 570px){
    body{
        font-size: var(--mobile-font-size);
    }

    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 145px;
        color: #FFFFFF;
        width: 27%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.1rem;
        font-size: calc(var(--h2-font-size) - 2.7rem);
    }
    .home_image_postertext a{
        margin-top: 0.4rem;
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.15rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        
    }
    .home_image_postertext .text{
        font-size: calc(var(--tablets-font-size) - 0.5rem);
    }
}



/* ================ Mobile Devices ================ */
@media screen and (max-width: 480px) {
    body{
        font-size: var(--mobile-font-size);
    }
	
    .home_image_postertext{
        position: absolute;
        z-index: 1;
        right: 104px;
        top: 140px;
        color: #FFFFFF;
        width: 27%;
    }
    .home_image_postertext h1{
        margin-bottom: 0.1rem;
        font-size: calc(var(--h2-font-size) - 2.9rem);
    }
    .home_image_postertext a{
        border-radius: 20px;
        color: var(--special-orange-strong);
        background-color: #FFFFFF;
        padding: 0.25rem;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        font-size: calc(var(--h2-font-size) - 2.9rem);
    }
    .home_image_postertext .text{
        font-size: calc(var(--mobile-font-size) - 0.55rem);
    }
    
    .home_image_grid{
        display:grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 75%;

    }
    
    .home_altlogo{
        width: 215px;
        height: auto;
    }
    .home_aboutus_text{
        text-align: center;
        padding: 0;
        padding-top: 1rem;
    }
    .home_aboutus_mobiletext{
        display: unset;
        margin: 0 1rem 1rem 1rem;
        text-align: center;
    }
    .home_aboutus_grid_column1{
        display: none;
    }
    .home_aboutus_grid_column2{
        display: none;
    }

    .home_discover_header{
        font-size: 3rem;
    }
    .home_discover_grid{
        display: grid;
        grid-template-areas: 
        "hs"
        "ff"
        "gp";
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_discover{
        background-color: var(--special-grey-light);
        padding: 100px 2rem 2rem 2rem;
        width: 100%;
    }
    .home_discover_grid_hs .hs_image{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .home_discover_grid_ff .ff_image{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .home_discover_grid_gp .gp_image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 40%;
    }  
	
	/* ================= ABOUT US ============== */
	.about-wrapper-body {
	grid-template-columns: 1fr;
		width: 100%;
}
	.about-img {
	max-width: 100%;
		margin: 0;
}

	.about-wrapper-body-3 {
		display: none;
	}
	.about-wrapper-body-2{
		display: unset;
	}
}